<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>DiMaWo's Downloads</title>
    <author email="g.dethier@gmail.com">Gérard Dethier</author>
  </properties>

  <body>
	<section name="Downloads">

	<subsection name="Distributions">
	<p>DiMaWo is provided in 2 forms: DiMaWo's complete source code and
	DiMaWo library providing classes required to develop a DiMaWo-based
	application.</p>
	</subsection>

	<subsection name="Latest version files">
	<p>Latest version: ${project.version}</p>

	<ul>
		<li><a href="dist/dimawo-${project.version}.jar">
		Library (jar)</a></li>
		<li><a href="dist/dimawo-${project.version}-src.tar.gz">
		Source code (tar.gz)</a></li>
	</ul>
	</subsection>
	
	<subsection name="Version control">
	<p>DiMaWo's source code is available on <a href="https://github.com/">
	GitHub</a> (repository "dimawo" of user "gdethier"). Feel free to fork the
	project and, if you would like to
	contribute, send pull requests (requires a free GitHub account).
	</p>
	</subsection>

	</section>
  </body>

</document>